@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.intro {
    max-width: 55%;
    margin-top: 2em;
    margin-bottom: 1em;
    &__text{
        font-family: Roboto, sans-serif;
        font-size: 5.5em;
        font-weight: 700;
    }
}
