@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Old styling
.imagetext__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  max-width: auto;
  background-image: url(../assets/images/laptop2.png);
  background-repeat: no-repeat;
  background-size: cover;
  &--text{
    grid-column-start: 4;
    grid-row-start: 2;
  }
}

.imagegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 5em;
}

@media (min-width: 320px) and (max-width: 500px){
  .imagetext__container{
    margin-top: 3em;
  }
}
