@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.imagetext__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  max-width: auto;
  background-image: url(../assets/images/laptop2.png);
  background-repeat: no-repeat;
}

.imagetext {
  // font-family: Roboto, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  &__text {
    grid-column-start: 4;
    grid-column-end: 5;
    // font-size: 3em;
    // font-size: clamp(2rem, 5rem, 8rem);
    margin-top: 30%;
    margin-bottom: 3em;
  }

//   &__text--content {
//     font-size: clamp(0.5rem, 2em, 4em);
//   }
}
