@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.otherprojects{
    font-family: Roboto, sans-serif;
    margin-top: 7em;
}

.otherprojects__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5.5em;
}

.container__row1{
    margin-top: 1em;
    margin-bottom: 2em;
    &--item1{
        justify-self: left;
        max-width: 100%;
        height: auto;
        padding: 0.5em;
    }
    &--item2{
        justify-self: center;
        max-width: 100%;
        height: auto;
        padding: 0.5em;
    }
    &--item3{
        justify-self: right;
        max-width: 100%;
        height: auto;
        padding: 0.5em;
    }
}

.container__row2{
    margin-top: 1em;
    margin-bottom: 2em;
    &--item1{
        justify-self: left;
        max-width: 100%;
        height: auto;
        padding: 0.5em;
    }
    &--item2{
        justify-self: center;
        max-width: 100%;
        height: auto;
        padding: 0.5em;
    }
    &--item3{
        justify-self: right;
        max-width: 100%;
        height: auto;
        padding: 0.5em;
    }
}

@media (min-width: 320px) and (max-width: 500px){
    .otherprojects{
        margin-top: 3em;
        // &__title{
        //     text-align: center;
        // }
    }

    .otherprojects__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

// @media (max-width: 300px){ // ?
//     .otherprojects__container{
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr 1fr 1fr 1fr;
//     }
// }