@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.skillgrid{
    font-family: Roboto, sans-serif;
    margin-top: 7em;
}

.skillgrid__wrapper{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper__row1{
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 3em;
    max-width: 100%;
    height: auto;
    &--item1{
        justify-self: left;
        margin: 0.5em;

        }
    &--item2{
        justify-self: center;
        margin: 0.5em;
    }
    &--item3{
        justify-self: right;
        margin: 0.5em;
    }
}

.wrapper__row2{
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 3em;
    max-width: 100%;
    height: auto;
    &--item1{
        justify-self: left;
        margin: 0.5em;

        }
    &--item2{
        justify-self: center;
        margin: 0.5em;
    }
    &--item3{
        justify-self: right;
        margin: 0.5em;
    }
}

@media (min-width: 501px) and (max-width: 700px){
    .skillgrid__wrapper{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .wrapper__row1{
        border: 3px solid black;
        border-radius: 15px;
        padding: 1.5em;
        max-width: 100%;
        &--item1{
            justify-self: center;
    
            }
        &--item2{
            justify-self: center;
        }
        &--item3{
            justify-self: center;
        }
    }

    .wrapper__row2{
        border: 3px solid black;
        border-radius: 15px;
        padding: 1.5em;
        max-width: 100%;
        height: auto;
        &--item1{
            justify-self: center;
    
            }
        &--item2{
            justify-self: center;
        }
        &--item3{
            justify-self: center;
        }
    }
}



@media (min-width: 320px) and (max-width: 500px){ //was @media (max-width: 600px)
    .skillgrid{
        margin-top: 3em;
    }
    
    .skillgrid__wrapper{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .wrapper__row1{
        border: 3px solid black;
        border-radius: 15px;
        padding: 0.5em;
        max-width: 100%;
        &--item1{
            justify-self: center;
    
            }
        &--item2{
            justify-self: center;
        }
        &--item3{
            justify-self: center;
        }
    }

    .wrapper__row2{
        border: 3px solid black;
        border-radius: 15px;
        padding: 0.5em;
        max-width: 100%;
        height: auto;
        &--item1{
            justify-self: center;
    
            }
        &--item2{
            justify-self: center;
        }
        &--item3{
            justify-self: center;
        }
    }
}
