@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.skillgrid{
    font-family: Roboto, sans-serif;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8em;
    &__title{
        font-size: 3em;
        margin-left: 3em;
    }
}

.skillgrid__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1em;
}

.skillgrid__container--item{
    padding: 3em;
    margin: 1em;
    border: 0.2em solid black;
    border-radius: 15px;
    justify-self: center;
    max-height: 75%; //Gör lådorna lika stora
    max-width: 75%; //Gör lådorna lika stora
}
