@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.skillgrid{
    font-family: Roboto, sans-serif;
    margin-top: 7em;
    // &__title{
    //     font-size: 3em;
    //     margin-bottom: 1em;
    // }
}

.skillgrid__wrapper{
    text-align: center;
    // font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper__row1{
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 3em;
    &--item1{
        justify-self: left;

        }
    &--item2{
        justify-self: center;
    }
    &--item3{
        justify-self: right;
    }
}

.wrapper__row2{
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 3em;
    &--item1{
        justify-self: left;

        }
    &--item2{
        justify-self: center;
    }
    &--item3{
        justify-self: right;
    }
}

@media (max-width: 600px){
    .skillgrid__wrapper{
        text-align: center;
        // font-weight: 700;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 300px){
    .skillgrid__wrapper{
        text-align: center;
        // font-weight: 700;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}