@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  // overflow: hidden;
}

#app {
  font-family: Roboto, sans-serif;
  color: black;
}

.html{
  scroll-behavior: smooth;
}

.appcontainer{
  max-width: 1400px;
  margin: 5em auto 5em auto;
}

h1{
  font-size: clamp(3rem, 2.1333rem + 4.3333vw, 5.6rem); // was font-size: clamp(0.7rem, -0.9333rem + 8.1667vw, 5.6rem)
  // font-size: clamp(12px, 90px, 4.5em)320;
}

h2{
  font-family: Roboto, sans-serif; // was clamp(1rem, 2.5rem, 4rem)
  font-size: 40px;
  font-weight: 700;
}

p{
  font-family: Roboto, sans-serif;
  font-size: clamp(0.9rem, 0.8667rem + 0.1667vw, 1rem); // was 1em
  font-weight: normal;
}

td{
  font-family: Roboto, sans-serif;
  font-size: clamp(0.9rem, 0.8667rem + 0.1667vw, 1rem); // was 1em
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav {
  font-family: Roboto, sans-serif;
  font-size: clamp(0.9rem, 0.8667rem + 0.1667vw, 1rem);
  font-weight: 700;
}

/*
- BaseIntro på about ska vara 2 rader. DONE, ersatte BaseIntro med BaseIntroAbout. Dynamiska klasser istället?
-Förbättre nav:en så att länkar syns bra när man scrollar. DONE 
-Gör om CaseCardBig till version med rubrik+text på en sida och bild på andra.
Gör även en speglad version. 
- Media queries.
- Fixa semantiken i koden. Allting är i divar, komponenter är bara stackade på varandra. 
- Fixa other projects grid:en och items, gör responsivt.
- Fixa ImgText komponenten, gör responsivt.  

Rabis värden:
h1 desktop figma
p 16 desktop
nav 24px desktop

h1 3.2em mobil
p 14 mobil
nav 24px mobil 

nav desktop 
*/ 