@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

#app {
  font-family: Roboto, sans-serif;
  color: black;
}

.html{
  scroll-behavior: smooth;
}

.appcontainer{
  max-width: 1400px;
  margin: 5em auto 5em auto;
}

/* Ta bort margin och padding från alla komponenter, 
lägg till margin i appcontainer istället. Placera sedan ut
alla komponenter som de ska vara. -- DONE

- BaseIntro på about ska vara 2 rader. DONE, ersatte BaseIntro med BaseIntroAbout. Dynamiska klasser istället?
-Förbättre nav:en så att länkar syns bra när man scrollar. DONE 
-Gör om CaseCardBig till version med rubrik+text på en sida och bild på andra.
Gör även en speglad version. 
- Ev. dynamiska css-klasser med v-bind.
- Media queries.
- Fixa semantiken i koden. Allting är i divar, komponenter är bara stackade på varandra. 
*/ 